/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização do body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #000000;
    padding: 20px;
}

/* Header */
header {
    background-color: #83b862;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Main */
main {
    margin: 20px auto;
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #777;
}

.Introdução {
    font-size: 25px;
}

  .imagem-receita {
    width: 300px;
    height: auto;
  }
